spring:
  messages:
    basename: messages,errors

  datasource:
    url: jdbc:h2:tcp://localhost/~/jwproject
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace


server:
  servlet:
    session:
      timeout: 100   #세션 타임아웃 설정
      tracking-modes: cookie  #첫 로그인할 경우 jsessionid 404오류 해결

